<div class="vw-100 vh-100 d-flex justify-content-center align-items-center text-center">
  <div class="form-signin px-4">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <div class="checkbox d-flex mb-3">
        <input type="text" style="margin-right: 8px;" id="inputName" class="form-control mr-2" [(ngModel)]="name" placeholder="Name" required="">
        <button style="width: 300px;margin-left: 8px;" class="btn btn-lg btn-primary ml-2 btn-block" (click)="submit()">Send for api</button>
      </div>
  </div>
</div>
